{% extends 'base.html' %}

<h1>Spent</h1>

<ul class="list-group">
<li class="list-group=item">Gasto em X</li>
<li class="list-group=item">Gasto em X</li>
<li class="list-group=item">Gasto em X</li>
<li class="list-group=item">Gasto em X</li>
<li class="list-group=item">Gasto em X</li>
<li class="list-group=item">Gasto em X</li>
<li class="list-group=item">Gasto em X</li>
<li class="list-group=item">Gasto em X</li>
<li class="list-group=item">Gasto em X</li>
<li class="list-group=item">Gasto em X</li>
<li class="list-group=item">Gasto em X</li>
<li class="list-group=item">Gasto em X</li>
<li class="list-group=item">Gasto em X</li>
<li class="list-group=item">Gasto em X</li>

</ul>